<a href="https://colab.research.google.com/github/venkat34/trainingprogram-crt/blob/master/3_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print ("welcome to python ")

welcome to python

# #is used for comments
number of # detemine the size of comments

- Datat types in python
- class - int float str
- int
- float
- str

In [0]:
x=1432
print (x)
print (type(x))

1432
<class 'int'>

In [0]:
x=1432.566
print (x)
print (type(x))

1432.566
<class 'float'>

In [0]:
# in python char is declared as string
# for a string single quotes('')or double quotes can("") be used
x='venkat'
print (x)
print (type(x))

venkat
<class 'str'>

In [0]:
x="my name is venkat"
print (x)
print (type(x))

my name is venkat
<class 'str'>

## DATATYPE CONVERSION

- int()
  - int() converts the input into integer class
  
- str()
  - str() converts the input into string class

- float()
  - float() converts the input into float class

In [0]:
x =  123.23
print (x)
print (type(x))
f =int (x)
print (f)
print (type(f))

123.23
<class 'float'>
123
<class 'int'>

In [0]:
x = '12345.67'
print (x, end = '')          # if you want the output in a single sentence use another argument(o/p,end='')
print (type(x))
f= float(x)
print (f, end = '')
print (type(f))
h = int(f)
print (h, end = '')
print (type(h))

12345.67<class 'str'>
12345.67<class 'float'>
12345<class 'int'>

## INPUT METHODS OF PYTHON

- input() reads the input in terms of string type
- conversion methods are used convert into respective types
   - like int() float() and str()

In [0]:
s=input('enter your name ')
print (s,end = '')
print (type(s))

enter your name venkat
venkat<class 'str'>

In [0]:
s=input('enter your name ')
print (s,end = '')
print (type(s))

enter your name 10
10<class 'str'>

In [0]:
h = int(input(''))
print (h,end = '')
print (type(h))

19
19<class 'int'>

In [0]:
h = float(input(''))
print (h,end = '')
print (type(h))

12.45
12.45<class 'float'>

## CONTROL FLOW STATEMENTS

- conditional statements
   - if-else
- looping statements
   - while
   - for

In [0]:
# if Boolean_condition :
#     statements
# else :
#     statements

In [0]:
a = int(input(''))
if a%2==0:
    print("even nember")
else:
    print("odd number")

7
odd number

In [0]:
z = int(input('age of person= '))
if 18<=z<=85:
    print("eligible")
else :
    print("not eligible")

age of person= 56
eligible

In [0]:
z = int(input('age of person= '))
if z>=18 and z<=85:
    print("eligible")
else :
    print("not eligible")

age of person= 12
not eligible

In [0]:
a = 10
b = 3
print (a+b)  # add
print (a-b)  # subtract
print (a/b)  # division with decimal
print (a//b) # division with only integer value
print (a%b)  # modular division output remainder
print (a*b)  # multiply
print (a**b) # power

13
7
3.3333333333333335
3
1
30
1000

In [0]:
if True:
    print ('hello')
else :
    print ('bye')

hello

### give two inputs if a is greater than b , find square of b and vice versa

In [0]:
a = int(input(''))
b = int(input(''))
if a>b:
    c=b*b
    print(c)
else :
    d=a*a
    print(d)

5
4
16

In [0]:
a = int(input(''))
r = a%10
q = a//10
if r>q:
    c=q*q
    print(c)
else :
    d=r*r
    print(d)

34
9

- Read an input
- give output if positive, negative,zero

In [0]:
a = int(input(''))
if a<0:
    print ("negative")
elif a==0:
    print ("zero")
else :
    print ("positive")

-3
negative

In [0]:
# ++ and -- symbols will not work in python programming

# while boolean condition :
#            statements

In [0]:
# print the numbers from 1 to 10
a=1
while a <= 10:
    print (a, end  = ' ')
    a = a + 1 # or a+=1

1 2 3 4 5 6 7 8 9 10

In [0]:
n = int(input(''))
s=0
sum=0
while s<=n:
    sum=s+sum
    s=s+1
print (sum)

10
55

In [0]:
n = int(input(''))
k=2
while k<=n:
    print(k, end = ' ')
    k=k+2

10
2 4 6 8 10

In [0]:
n= int(input(''))
i=1
while i<=n:
    if  n%i==0:
        print (i)
    i=i+1

10
1
2
5
10