<a href="https://colab.research.google.com/github/venkat34/trainingprogram-crt/blob/master/4_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DAY OBJECTIVES
- LOOP EXAMPLES
- FUNCTIONS(USER DEFINED FUNCTIONS)
- LIST ,TUPLES, STRING

In [0]:
# READ NUMBER AS INPUT
# PRINT OUTPUT AS DIGITS OF NUMBER
# TEST CASES :-
# 145 = 5 4 1
# 123 = 3 2 1

In [0]:
n= int(input(''))
i=1
while i<=n:
    s=n%10
    print(s)
    
    n=n//10

123
3
2
1

## FUNCTIONS in programming
- program will be divided into subparts
- it reuses the same code 
- functions make the programming much easier
- def is a keyword used to define the function
- function name follows the camel case always
  - fun() isPalindrome() isPalindromeCheck()
- defination of the function can be anything for the given requirement
- def FunctionName():          
  - statements
  - return

In [0]:
# read the input as number 
# print output as largest digit number
# 58952 --9
# 753214 --7
def largeDigit(n):
    return
largeDigit(58952)#9

In [0]:
def largeDigit(n):
    large =0
    while n!=0:
        r=n%10
        if large<r:
            large = r
        n = n//10
    return large
n= int(input(''))
largeDigit(n)

34675

7

In [0]:
# SUM OF DIGITS
def sumofdigits(n):
    s=0
    while n!=0:
        r=n%10
        s=s+r
        n=n//10
    return s
n=int(input(''))
sumofdigits(n)

345

12

In [0]:
# READ INPUT AS A NUMBER
# PRINT THE OUTPUT AS PALINDROME OR NOT PALINDROME
# A REVERSED ITSELF IS SAME AS ORIGINAL NUMBER CALLED AS PALONDROME
# 121 - PALINDROME
# 1889 -NOT A PALINDROME


def problem(n):
    a=0
    buffer = n
    while n!=0:
        r=n%10
        a=a*10+r
        n=n//10
    if a==buffer:
        return "palindrome"
    else :
        return "not palindrome"
    return 
n=int(input(''))
problem(n)

343

'palindrome'

In [0]:
# large digit from last three digits of number
def largeDigit(n):
    large =0
    i=0
    while i!=3:
        r=n%10
        if large<r:
            large = r
        n = n//10
        i=i+1
    return large
n= int(input(''))
largeDigit(n)

7657869

9

# DATA STRUCTURES OF PYTHON PROGRAMMING
 - LIST
 - TUPLES
 - DICTIONARIES
 - SETS

In [0]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [0]:
li1=[1,2,"gitam",3,4,5,"hyderabad",'a']
print(li1)

[1, 2, 'gitam', 3, 4, 5, 'hyderabad', 'a']

In [0]:
for i in range(len(li)):
    print(i, end= ' ')

0 1 2 3 4

In [0]:
for i in range(len(li)):
    print(li[i], end= ' ')

1 2 3 4 5

In [0]:
for i in range(1,12):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [0]:
for i in range(0,25,2):
    print(i, end = ' ')       # 0 is lower bond,  25 higher bond,  2 is step

0 2 4 6 8 10 12 14 16 18 20 22 24