<a href="https://colab.research.google.com/github/venkat34/trainingprogram-crt/blob/master/5_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LIST AND LIST RELATED EXAMPLES

In [0]:
li = [1,2,3,4,5]
print(len(li))  # len() which will return the length of list

5

In [0]:
li[2]=23425  # update list item value
print(li)

[1, 2, 23425, 4, 5]

In [0]:
del li[1]    # del li[] = deletes the list value
print (li)   # del li = deletes the entire list

[1, 23425, 4, 5]

In [0]:
print (len(li))

5

In [0]:
print(li[:])
print(li[::-1])
print (li[1])
print(li[-4])
print(li[1:3])
print(li[-4:-2])

[1, 2, 23425, 4, 5]
[5, 4, 23425, 2, 1]
2
2
[2, 23425]
[2, 23425]

In [0]:
### methods of list
print(len(li))  # length of list
print(sum(li))  # sum of list
print(min(li))  # min value of list
print(max(li))  # max value of list
print(sum(li)//len(li))  # avg of list

5
21
1
9
4

In [0]:
li[-3]=9
print(li)
print(max(li))

[1, 2, 9, 4, 5]
9

In [0]:
li.append(200)   # append will insert the new list at the end(THE NUMBER OF TIMES WE RUN IT KEEPS ON ADDING)
li

[1, 2, 5, 9, 69, 69, 200, 200, 200, 200, 200, 200]

In [0]:
li.insert(2,69)  # insert the new item at any specified position (THE NUMBER OF TIMES WE RUN IT KEEPS ON ADDING)
li

[1, 2, 69, 5, 9, 69, 69, 200, 200, 200, 200, 200, 200]

In [0]:
li.count(200)   # count of list item repeated

5

In [0]:
li.index(9)    # index() gives the index of specified value
               # where 9 is called KEY NUMBER
               # if list containing multiple same value like 200 it will give the index of its first occurence

4

In [0]:
li.sort() # sorts the entire in a order
li

[1, 2, 5, 9, 69, 69, 69, 200, 200, 200, 200, 200, 200]

In [0]:
li.pop() # removes the last index item
li

[1, 2, 5, 9, 69, 69, 69, 200, 200, 200, 200, 200]

In [0]:
li.pop(2) # removes the specified index item
li

[1, 2, 5, 9, 69, 69, 200, 200, 200, 200, 200]

In [0]:
li

[1, 2, 5, 9, 69, 69, 200, 200, 200, 200, 200]

In [0]:
# define a fun to find out second largest value of list
# li= [1,9,16,25,2,3,65]
# output=25
def secondlargest(li):
  li.sort()
  return li[-2]
li=[1,9,16,25,2,3,65]
secondlargest(li)

25

In [0]:
def genericlargest(li,n):
  li.sort()
  return li[-n]
li=[1,9,16,25,2,3,65]
genericlargest(li,3)

16

In [0]:
def genericleast(li,n):
  li.sort()
  return li[n]
li=[1,9,16,25,2,3,65]
genericleast(li,1)

2


## NUMBER TO LIST CONVERSION

In [0]:
# NUMBER TO LIST CONVERSION
def numbertolist(n):
  li=[]   #  -----------   empty list
  while n != 0:
    r=n%10
    li.append(r)
    n=n//10
  li.reverse()
  return li
numbertolist(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

# DATA STRUCTURES - TUPLES
- IT IS SIMILAR TO LIST OBJECT
- LIST WILL BE ENCLOSED IN SQUARE BRACKETS i.e [] 
- TUPLES WILL BE ENCLOSE WITH IN PARAENTHESIS()
- LIST CAN BE INCREASED/DECREASED 
- TUPLES IS FIXED CANT BE INCREASED/ DECREASED 
- LIST IS MUTABLE i.e(FLEXIBLE) (USED FOR READING AND WRITING PURPOSES)
- TUPLE IS IMMUTABLE (NOT FLEXIBLE) (USED FOR ONLY READING)
- BASICALLY TUPLE IS ONLY USED FOR READING PURPOSES
- LIST=changes WRITING CHANGES CAN BE DONE 
- TUPLE = NO WRITING CHANGES CAN BE DONE

In [0]:
t = (1,2,3,6,8,5,0)
t

(1, 2, 3, 6, 8, 5, 0)

In [0]:
t[0:3]

(1, 2, 3)

In [0]:
t[2]=69  # this proves that tuple can only be used for reading purposes

TypeError: ignored

In [0]:
del t[2]

TypeError: ignored

## DATA STRUCTURE - DICTIONARIES
- A DICTIONARY CAN BE DEFINED BY USING {   }
- THIS DATA STRUCTURE OBJECT WORKS ON SET OF KEYS AND VALUES
- THERE WILL BE UNIQUE KEY SET WILL BE DEFINED
- EVERY KEY IS SEPERATED FROM ITS VALUE BY COLON(:) 
- EVERY KEY AND VALUE PAIR IS SEPERATED BY COMMA(,)

In [0]:
# Define the dict d1 ={}
d1={"name":"venkat","email":"hello@gmial.in","phone":9099090909}
print (d1)

{'name': 'venkat', 'email': 'hello@gmial.in', 'phone': 9099090909}

In [0]:
print(d1["email"])  # access to specific key value

hello@gmial.in

In [0]:
d1["phone"]=161616161 # update dict
d1

{'email': 'hello@gmial.in', 'name': 'venkat', 'phone': 161616161}

In [0]:
del d1["email"]

In [0]:
d1

{'name': 'venkat', 'phone': 161616161}

# CONTACT APPLICATION
- USED CONCEPTS : DICT, LIST AND TUPLE
## MODULES OF CONTACT APPLICATIONS
- - ADD CONTACT
- - SEARCH CONTACTS
- - IMPORT NEW CONTACT
- - UPDATE CONTACT
- - DELETE CONTACT

In [0]:
# ADD CONTACTS
contacts={} # empty dict
#define func for add contacts
def addcontact(name,number):
  if name not in contacts:
    contacts[name]=number
    print ("contact added")
  else :
    print ("contact not added")  
  return
addcontact('ajay',134151613)  # contact added
addcontact('abhay',867956872)  # contact added
addcontact('ajay',134151613)  # contact not added

contact added
contact added
contact not added

In [0]:
contacts

{'abhay': 867956872, 'ajay': 134151613}

In [0]:
# SEARCH CONTACTS
# DEFINE FUNCTION FOR SEARCH CONTACTS
def searchcontact(name):
  if name in contacts:
    print(name,":",contacts[name])
  else:
    print('contact is not present')  
  return
searchcontact('ajay') 
searchcontact('abhay')  
searchcontact('naveen')

ajay : 134151613
abhay : 867956872
contact is not present

In [0]:
# IMPORT CONTACTS
# define the function for importing new contacts
def importcontacts(newcontacts):
  contacts.update(newcontacts)
  print('new contacts are added')
  return
newcontacts={"manideep":696969696,"satish":909090909}  
importcontacts(newcontacts)

new contacts are added

In [0]:
contacts

{'abhay': 867956872,
 'ajay': 134151613,
 'manideep': 696969696,
 'satish': 909090909}

In [0]:
#UPDATE CONTACT
# DEFINE A FUNCTION FOR UPDATE DETAILS
def updatedetails(name,number):
  if name in contacts:
    contacts[name]=number
    print('contact update is successsfull')
  else:
    print('add new contact details ')
  return
updatedetails('abhay',86795600000)  #update successfull
updatedetails('venkat',86795600000) # please update contact

contact update is successsfull
add new contact details

In [0]:
contacts

{'abhay': 86795600000,
 'ajay': 134151613,
 'manideep': 696969696,
 'satish': 909090909}

In [0]:
#define function to delete the contact delete
def deletecontact(name):
  if name in contacts:
    del contacts[name]
    print('contact deleted')
  else :
    print('contact is not present')  
  return
deletecontact('satish')     # contact is present so deleted
deletecontact('shakeer')  # contact does not exist

contact deleted
contact is not present

In [0]:
# STRING TO LIST CONVERSION
# "1 2 3 4 5 6"-[1,2,3,4,5,6]


a = input('enter a numbers')
print (type(a))
print(a.split())

enter a numbers1 2 3 4 5 6 6
<class 'str'>
['1', '2', '3', '4', '5', '6', '6']

In [0]:
s="gitam hyd python programming"
a=s.split()                     # splits using space between words in string
print(a)

['gitam', 'hyd', 'python', 'programming']

In [0]:
s="gitam hyd python programming"
a=s.split('a') # splits using specified term
print(a)

['git', 'm hyd python progr', 'mming']

In [0]:
#DEFINE A FUNCTION TO CONVERT THE STRING TO LIST
def stringtolist(s):
  li=s.split()                  # divide the string by white space
                                # ['1','2','3',...'6']
  numberlist =[]
  for i in li:
    numberlist.append(int(i))                                 
  return numberlist
stringtolist('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]