<a href="https://colab.research.google.com/github/venkat34/trainingprogram-crt/blob/master/6_12_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # declare two inputs a and b if 1st inputis greater than 2nd
  # print b*b

In [0]:
#include<stdio.h>
int main()
{
	int x1,x2;
	scanf("%d%d",&x1,&x2);
	if (x1>x2){
		printf("%d",x2*x2);
	}
	else{
		printf("%d",x1*x1);
	}
	return 0;
	}

between 18 to 85 eligible for voting or not eligible

In [0]:
#include<stdio.h>
int main()
{
	int x;
    scanf("%d",&x);
    if (x>=18&&x<=85) {
    	printf("eligible for voting");
    }
    else{
    	printf("not eligible");
    }
    return 0;
}

# read the char as input and check wether it is upper, lower case or a digit

In [0]:
#include<stdio.h>
int main()
{
	char a;
	scanf("%s",&a);
	if (a>=65&&a<=90){
		printf("upper case");
	}
	else if (a>=97&&a<=122){
		printf("lower case");
	}
	else if (a>=48&&a<=57){
		printf("it is a digit");
	}
	return 0;
}

read the input as char and print the output as wether it is a vowel or consonants

In [0]:
#include<stdio.h>
int main()
{
	char a;
	scanf("%s",&a);
	if (a =='a'||a =='e'||a =='i'||a =='o'||a =='u'){
		printf("vowel");
	}
	else{
		printf("consonants");
	}
	return 0;
	
}

# READ THE NUMBER AND DETERMINE THE DAY OF WEEK

In [0]:
#include<stdio.h>
int main()
{
	int x;
	scanf("%d",&x);
	if (x==1){
		printf("sunday");
	}
	else if (x==2){
		printf("monday");
	}
	else if (x==3){
		printf("tuesday");
	}
	else if (x==4){
		printf("wednesday");
	}
	else if (x==5){
		printf("thursday");
	}
	else if (x==6){
		printf("friday");
	}
	else if (x==7){
		printf("saturday");
	}
	return 0;
}

#DIVISIBLE BY 3 AND 5

In [0]:
#include<stdio.h>
int main()
{
	int x;
	scanf("%d",&x);
	if(x%3==0&&x%5==0){
		printf("divisible");
	}
	else{
		printf("not divisible");
	}
	return 0;
}

# READ THE THREE ANGLES AS INPUT AND CHECK WITH THIS ANGLES CAN BE ABLE TO CONSTRUCT A TRIANGLE OR NOT
# 90 45 45 =YES
# 0 0 180 =NO
# 60 90 30 =YES

In [0]:
#include<stdio.h>
int main()
{
	int x,y,z;
	scanf("%d%d%d",&x,&y,&z);
	if (x!=0&&y!=0&&z!=0&&x+y+z==180){
		printf("yes");
	}
	else {
		printf("no");
	}
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int x,y;
	scanf("%d%d",&x,&y);
	while(x<=y){
			if (x%3==0&&x%5==0){
		printf("%d ",x);
	}
	x++;
}
	}

In [0]:
#include<stdio.h>
int main()
{
	int n,r;
	scanf("%d",&n);
	while(n!=0){
		r=n%10;
		printf("%d",r);
		n=n/10;
	}
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int n,r,s=0;
	scanf("%d",&n);
	while(n!=0){
		r=n%10;	
		switch(r)
	{
	
	case 1 :printf(" one ");
	break;
	case 2 :printf(" two ");
	break;
	case 3 :printf(" three ");
	break;
	case 4 :printf(" four ");
	break;
	case 5 :printf(" five ");
	break;
	case 6 :printf(" six ");
	break;
	case 7 :printf(" seven ");
	break;
	case 8 :printf(" eight ");
	break;
	case 9 :printf(" nine ");
	break;
	case 0 :printf(" zero ");
	break;
}
		
		
			n=n/10;
		
	}
}

#INPUT 1889
8+8=16

In [0]:
#include<stdio.h>
int main()
{
	int n,r,s=0;
	scanf("%d",&n);
	while(n!=0){
		r=n%10;
		if(r%2==0){
		s=s+r;
		printf("%d",s);	
		}
		else{
			n=n/10;
		}
		
	}
	return 0;
	
}

#large and least
# 98521 input

In [0]:
#include<stdio.h>
int main()
{
	int large=0,n,r,least=9;
	scanf("%d",&n);
	while (n!=0)
	{
		r=n%10;
		if(large<r){
			large=r;
		   
		}
		if (least>r){
			least=r;
		
		} 
		n=n/10;
	}
	printf("<%d,%d>",large,least);
	return 0;
	
}

In [0]:
#include<stdio.h>
int main()
{
	int x,r,s=0;
	scanf("%d",&x);
	while(x!=0)
	{
		r=x%10;
		if(r==8){
			s=+2;
		}
		else if(r==0||r==6||r==9){
			s+=1;
		}
		else if(r==4){
			s+=2;
		}
		x/=10;
	}
	printf("%d",s);
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int n,r,M,rever=0;
	scanf("%d",&n);
	M=n;
	while (n!=0)
	{
		r=n%10;
		rever=rever*10+r;
		n=n/10;
	}
	printf("%d",rever);
	if (rever==M){
		printf("palindrome");
	}
	else{
		printf("not a palindrome");
	}
	return 0;
}

### READ THE NUMBER AS INPUT AND PRINT WHETHER THE NUMBER IS PALINDROME OR NOT